@import config.sass

\:root
  @media (prefers-color-scheme: dark)
    --color-background: #{$vt-c-black}
    --color-background-soft: #{$vt-c-black-soft}
    --color-background-mute: #{$vt-c-black-mute}
    --color-border: #{$vt-c-divider-dark-2}
    --color-border-hover: #{$vt-c-divider-dark-1}
    --color-heading: #{$vt-c-text-dark-1}
    --color-text: #{$vt-c-text-dark-2}

*,
*::before,
*::after
  box-sizing: border-box
  margin: 0
  font-weight: normal

body
  min-height: 100vh
  color: var(--color-text)
  background: var(--color-background)
  transition: color .5s, background-color .5s, background .5s
  line-height: 1.6
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  font-size: 15px
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: inherit
  text-decoration: none
  font-family: inherit
  font-size: inherit
  font-weight: inherit