@import variables.sass

\:root
  --color-background: #{$vt-c-white}
  --color-background-soft: #{$vt-c-white-soft}
  --color-background-mute: #{$vt-c-white-mute}

  --color-border: #{$vt-c-divider-light-2}
  --color-border-hover: #{$vt-c-divider-light-1}

  --color-heading: #{$vt-c-text-light-1}
  --color-text: #{$vt-c-text-light-1}

  --section-gap: 160px