@import variables.sass
@import animations.sass

#app
  display: flex
  flex-direction: column
  min-height: 100%
  max-width: 100vw
  font-weight: normal

.fullscreen-container
  height: 100vh
  width: 100vw
  position: absolute
  top: 0
  right: 0
  left: 0
  overflow: hidden

.apple-blurred
  border-radius: calc($sn-apple-border-radius * 2)
  border: $sn-apple-border
  background: rgb(83 83 83 / 0.25)
  backdrop-filter: blur($sn-apple-blur)

.apple-container
  @extend .apple-blurred
  border-radius: $sn-apple-border-radius
  padding: .1em

.apple-menu
  @extend .apple-container
  padding: $sn-main-padding

.card-blurred
  border: $sn-apple-border
  background: hsl(0 100% 0% / 0.25)
  backdrop-filter: blur($sn-apple-blur)